<% if @user %>
  Welcome <%= @user %>!
  <form action='/user/sign_out' method='post'>
    <button>Sign Out</button>
  </form>
 <% else %>
 <form action='/user/create' method='get'> 
  <button>Sign Up</button>
</form>
<% end %>

<%if flash[:notice]%>
<%= flash[:notice]%>
<% end %>

<ul>
<% @peeps.reverse.each do |peep| %>
<li>
  <%= peep.content %>
  <%= peep.created_at %>
</li>
<%end%>
</ul>

<form action='/peep/create' method='get'>
  <button>Post a Peep</button>
</form>


