Welcome <%= @user %>!

<ul>
<% @peeps.reverse.each do |peep| %>
<li>
  <%= peep.content %>
  <%= peep.created_at %>
</li>
<%end%>
</ul>

<form action='/peep/create' method='get'>
  <button>Post a Peep</button>
</form>

<form action='/user/create' method='get'> 
  <button>Sign Up</button>
</form>
